
.loginDiv{
    width: 100%;
    height: calc(100vh - 69.9px);
    background-image: url("/public/heads.jpg");
    background-size: cover;
    background-position-y: 26%;
    position: relative;
    padding: 30px;
}
.loginDiv:after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #E2E2E2CC;
    position: absolute;
}

.loginDiv > * {
    position: relative;
    z-index: 1; /* կամ ավելի բարձր */
}